*{
    font-family: 'Roboto Mono', monospace;
}

.animate-this{
    font-family: 'Quicksand', sans-serif;
}

.animate-this {
    font-family: 'Quicksand', sans-serif; 
}

#bt{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
}

.textito{
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
}
.listitas{
    text-align: justify;
}